
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f5f6fa;
}

/* //////////// HEADER ////////////////////////*/


/* ///////////  HEADER END HERE ///////////////*/


.app{
    display: flex;
    justify-content: space-evenly;
}
.app__header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}
.app__left{
    flex: 0.9;
}

/* app stats */
.app__stats{
    display: flex;
    justify-content: space-between;
}

@media(max-width:990px){
    .app{
        flex-direction: column;
    }
}


/* TABLE */

.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
}

.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 0.8rem;
    
}
.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}


/* infobox */

.info-flag img{
    width: 100px;
    break-before: 5px;
}

.info-flag{
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.info-name{
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.info-confirmed,
.info-recovered,
.info-deaths{
    font-size: 16px;
    margin-top: 5px;
}

.info-container{
    width: 150px;
}


/* infobox css */

.infoBox{
    flex: 1;
    cursor: pointer;
}


.infoBox :not(:last-child){
    margin-right: 15px;
}

.infoBox__cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}
.infoBox__total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem  !important;
    margin-top: 15px !important;
}

.infoBox--selected{
    border-top: 10px solid green;
}

/* .infoBox--Red{
    border-color: red;
} */

/* HEADER */

.header{
    height: 60vh;
}

/* ///////////// NEWS ROOM ////////////// */

.news_body{
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;

}

.news-inner{
    /* border: 3px solid green; */
    padding: 30px;
}

.news{
    max-width: 500px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;

}

.inner{
    /* border: 2px solid yellow; */
     box-shadow: 1px 3px 5px rgba(29, 24, 24, 0.671);
     padding: 10px;
     border: 6px solid rgb(224, 217, 217);
}
.inner img{
    height: 350px;
    width: 400px;
}
.news_author{
    font-size: 23px;
    font-weight: 600;
}



