
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

:root{
    --blue:rgb(67,85,190);
}

body{
    background-color: #f5f6fa;
    background-image: url('./components/Assets/background-img.jpg');
    /* background-position: 100px 10px; */
    background-position: center;
}
.cl-blue{
    color: var(--blue);
}

.blue-cl{
    margin: 30px 0;
    font-size: 47px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--blue);
    text-transform: uppercase;
}

/* //////////// NAVBAR ////////////////////////*/

.menu1{
    padding: 20px 24px !important;
    background: transparent !important;
    color: black !important;

}
.navbar-brand{
    font-size: 23px !important;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--blue) !important;
    /* border: 2px solid red; */
}
.mynav a{
    margin-right: 20px !important;
    font-size: 20px;
    line-height: 2px;
    color: black !important;
    border: 2px solid transparent;
    padding: 17px;
    border-radius: 5px;
}
.mynav a:hover{
    background:var(--blue);

}

/* /////////// ///////////////////////////////////////*/



/* //////////// HEADER ////////////////////////*/
.header{
    background-image: url('./components/Assets/home-bg.jpg');
    /* background-position: 100px 10px; */
    /* background-position: center; */
    background-position: right 35% bottom 25%; 
    height: 80vh;
}
.btn-primary{
    background-color: var(--blue) !important;
    padding: 15px;
    font-size: 17px;
    margin-top: 10px;
}
.heading-header{
    text-align: center;
    padding-top: 40px;
}
.heading-header h1{
   font-size: 37px;
   font-weight: 700;
   letter-spacing: 3px;
   color: var(--blue);

}

/* ///////////  HEADER END HERE ///////////////*/


.app{
    display: flex;
    justify-content: space-evenly;
}
.app__header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}
.app__left{
    flex: 0.9;
}

/* app stats */
.app__stats{
    display: flex;
    justify-content: space-between;
}

@media(max-width:990px){
    .app{
        flex-direction: column;
    }
}


/* TABLE */

.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
}

.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 0.8rem;
    
}
.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}


/* infobox */

.info-flag img{
    width: 100px;
    break-before: 5px;
}

.info-flag{
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.info-name{
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.info-confirmed,
.info-recovered,
.info-deaths{
    font-size: 16px;
    margin-top: 5px;
}

.info-container{
    width: 150px;
}


/* infobox css */

.infoBox{
    flex: 1;
    cursor: pointer;
}


.infoBox :not(:last-child){
    margin-right: 15px;
}

.infoBox__cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}
.infoBox__total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem  !important;
    margin-top: 15px !important;
}

.infoBox--selected{
    border-top: 10px solid var(--blue);
}

/* .infoBox--Red{
    border-color: red;
} */


/* ///////////// NEWS ROOM ////////////// */

.news_body{
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;

}

.news-inner{
    /* border: 3px solid green; */
    padding: 30px;
}

.news{
    max-width: 400px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;

}

.inner{
    /* border: 2px solid yellow; */
     box-shadow: 1px 3px 5px rgba(29, 24, 24, 0.671);
     padding: 10px;
     border: 20px solid rgb(255, 255, 255);
}
.inner img{
    height: 250px;
    width: 400px;
}
.news_heading{
    font-size: 20px;
    font-weight: 400;
    margin: 20px ;
}
.news_heading span ,p span{
    font-size: 22px;
    font-weight: 600;
}
.news_description{
    font-weight: 100;
    color: rgb(112, 112, 112);

}
h4 span{
    color: var(--blue);
}

.all_countries{
    padding: 40px;
    margin-left: 30px;
}
.one_country{
box-shadow: 1px 3px 5px rgba(43, 36, 36, 0.671);
     padding: 10px;
     border: 20px solid rgb(255, 255, 255)
}

/* ///////////////// NOT FOUND /////////////////////*/

.not-found{
    text-align: center;
}
.not-found h1{
    font-size: 133px;
}
.not-found p{
    font-size: 35px;
}


